<div style="width: 50%">
  <ul class="list-group">
    <li class="list-group-item">ID: {{ assure?.id }}</li>
    <li class="list-group-item">Matricule: {{ assure?.matricule }}</li>
    <li class="list-group-item">Salaire: {{ assure?.salaire | currency:'TND':'symbol-narrow':'3.3' }}</li>
    <li class="list-group-item">Date: {{ assure?.date | date:'shortDate' }}</li>
    <li class="list-group-item">Employeur: {{ assure?.employeurId }}</li>
    <li class="list-group-item">Nom: {{ assure?.nom | titlecase}}</li>
    <li class="list-group-item">Prenom: {{ assure?.prenom | titlecase}}</li>
  </ul>
  {{ asssel |json }}

</div>
