<div style="width: 50%">
  <app-fiche-assure *ngIf="assure" [assure]="assure" ></app-fiche-assure>
  <h3>Liste Assurés</h3>
  <table class="table table-hover">
      <thead>
      <tr>
        <th>id</th>
        <th>Matricule</th>
        <th>Salaire</th>
        <th>Date</th>
        <th>Employeur</th>
        <th>Nom</th>
        <th>Prenom</th>
      </tr>
      </thead>
      <tr *ngFor="let assure of liste" (click)="afficher(assure.id)">
        <td>{{ assure?.id}}</td>
        <td>{{ assure?.matricule}}</td>
        <td>{{ assure?.salaire | currency:'TND':'symbol-narrow':'3.3' }}</td>
        <td>{{ assure?.date | date:'shortDate' }}</td>
        <td>{{ assure?.employeurId }} </td>
        <td> {{ assure?.nom | titlecase}} </td>
        <td> {{ assure?.prenom | titlecase}} </td>
      </tr>
  </table>
</div>
