<button (click)="toggle()">+</button>
<div *ngIf="active" class="container-fluid">
  <form>
    <div class="form-group">
      <label> Id
        <input [(ngModel)]="assure.id" #id="ngModel" class="form-control" disabled name="id" type="number">
      </label></div>
    <div class="form-group">
      <label class="col-form-label">Matricule
        <input [(ngModel)]="assure.matricule"  #mat="ngModel" class="form-control" name="matricule" type="number">
      </label></div>
    <div class="form-group">
      <label>Salaire
        <input [(ngModel)]="assure.salaire" #sal="ngModel" class="form-control" name="salaire" type="number">
      </label></div>
    <div class="form-group">
      <label>Nom
        <input required [(ngModel)]="assure.nom" #nom="ngModel" class="form-control" name="nom" type="text">
        <div *ngIf="nom.errors">
          <small *ngIf="nom.errors.required && nom.touched" class="alert-danger"> invalid data </small>
          <small *ngIf="nom.dirty && nom.touched" class="alert-danger"> dirty data </small>
        </div>

      </label></div>
    <div class="form-group">

      <label>Prenom
        <input [(ngModel)]="assure.prenom"#pre="ngModel" class="form-control" name="prenom" type="text">
      </label></div>
    <div class="form-group">

      <label>Employeur
        <input [(ngModel)]="assure.employeurId"#emp="ngModel" class="form-control" name="employeurId" type="number">
      </label></div>
    <div class="form-group">
      <label>Date
        <input [(ngModel)]="assure.date" #date="ngModel" class="form-control" name="date" type="date">
      </label></div>

  </form>
</div>
